@import '../../styles/media';
.wrapper {
	@apply flex h-screen justify-center py-24;
	@include media(tablet) {
		@apply h-auto;
	}
	.content {
		@apply flex flex-col justify-center;

		.info {
			@apply relative mb-32 flex flex-row gap-32;
			@include media(tablet) {
				@apply mb-10 flex-col-reverse items-center justify-center gap-4;
			}
			.desc {
				@apply flex flex-col gap-4;
				@include media(tablet) {
					@apply items-center;
				}
				.subtitle {
					@apply mb-2;
				}
				.paragraph {
					@apply mb-2;
					@include media(tablet) {
						@apply max-w-[300px] text-center;
					}
				}
			}
			.socialsList {
				@apply flex flex-row  gap-6;
				.socialsItem {
					@apply cursor-pointer text-3xl transition-all duration-300 hover:text-secondary;
				}
			}
			.avatar {
				@apply relative mt-[-10px] h-[250px] w-[250px] animate-levitate rounded-full object-contain;
				@include media(tablet) {
					@apply h-[230px] w-[230px];
				}
				@include media(mobile) {
					@apply h-[200px] w-[200px];
				}
			}
		}
		.techStack {
			@apply flex flex-row items-center justify-start gap-20;

			@include media(tablet) {
				@apply flex-col gap-8;
			}
			.techTitle {
				@apply border-r-2 border-solid border-secondary px-2;
				@include media(tablet) {
					@apply border-b-2 border-r-0;
				}
			}
			.techList {
				@apply flex flex-row flex-wrap justify-center gap-10;
				.techItem {
					@apply cursor-pointer text-3xl;
				}
			}
		}
	}
}
